<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


    </head>
    <body>
        <div th:fragment="header">


            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" th:href="@{/Usuario/inicio}">GDC</a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Contacto}">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Usuario}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>



        <div th:fragment="footer">
            <footer class="footer fixed-bottom text-center bg-light">
                <div class="container">
                    <p>&copy; 2023 Exequiel Raineri. Todos los derechos reservados.</p>
                </div>
            </footer>

        </div>
    </body>
</html>
